[Unit]
Description = Gunicorn instance to serve Flask application
After = network.target

[Service]
User = opc
Group = opc
WorkingDirectory = /home/opc/my_flask_app/
Environment = "PATH=/home/opc/flaskenv/bin"
ExecStart = /home/opc/flaskenv/bin/gunicorn --workers 1 --bind 127.0.0.1:8000 app:app

[Install]
WantedBy = multi-user.target

